option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "dexterhive.prod_settings"
    "PYTHONPATH": "/opt/python/current/app/dexterhive:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: dexterhive/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "www/static/"
