<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <a href="">Create a Group</a><br>
    <form method="post" action="/create-group/">
        {% csrf_token %}
    Group Name<input type="text" name="group_name"><br>
    About<textarea rows="4" cols="50" name="about"></textarea><br>
    Group Type<input list="browsers" name="group_type">
              <datalist id="browsers">
                <option value="Internet Explorer">
                <option value="Firefox">
                <option value="Chrome">
                <option value="Opera">
                <option value="Safari">
              </datalist><br>
    The group is
        <input type="radio" name="group_visibility" value="Public" checked> Public<br>
        <input type="radio" name="group_visibility" value="Private"> Private<br>
        <input type="radio" name="group_visibility" value="Hidden"> Hidden
        <br>
        <input type="submit" name="submit" value="submit">
    </form>
</body>
</html>