<html>
<head>
    <link rel="stylesheet" href="static/css/home.css"/>
    <link rel="stylesheet"
          href="static/libs/angular-material/angular-material.min.css"/>
    <link rel="stylesheet"
          href="static/libs/angular-material/angular-material.layouts.min.css"/>
    <script src="static/libs/angular/angular.js"></script>
    <script src="static/libs/angular-animate/angular-animate.js"></script>
    <script src="static/libs/angular-aria/angular-aria.js"></script>
    <script src="static/libs/angular-route/angular-route.js"></script>
    <script
            src='static/libs/angular-sanitize/angular-sanitize.min.js'></script>
    <script type="text/javascript"
            src="static/libs/angular-material/angular-material.min.js"></script>
    <script src="static/js/index.js"></script>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel='shortcut icon' href='static/img/favicon.png' type='image/x-icon/' >

    <title>DexterHive</title>
</head>
<body>
    <div ng-app="DexterHiveApp">
        <header class="header">
            <div class="header-container">
                <section class="section-wrapper">
                    <div class="title"><img class="logo" src="static/img/logo.png" height="70" width="43"></div>
                    <div class="login">
                        <md-button class="register">SIGN UP</md-button>
                        <md-button class="register">LOG IN</md-button>
                    </div>
                </section>
            </div>
        </header>
        <div class="content-wrapper">
            <div class="home">
                <div class="title-tag">DexterHive</div>
                <div class="tagline">INNOVATE . COLLABORATE . FASTER . TOGETHER</div>
                <div class="sub-tagline">We Help You In Collaborating Ideas Because Collaboration Contributes To Innovation.</div>
                <div>
                    <md-button class="md-raised google-login"><i class="fa fa-google" aria-hidden="true"></i>
                    Login with Google
                    </md-button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>